@import "tailwindcss";

/* Tell Tailwind where to scan for class names */
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";

/* Activate daisyUI (no bundler) */
@plugin "./daisyui.js" {
  themes: garden --default;
}

@layer base {
  body {
    font-family: 'Crimson Pro', serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
}